@import url(//fonts.googleapis.com/css?family=Lato:300,400,700);

.container, .header {
  height: 100%;
}

body {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
  font-family: 'Lato', Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

.title {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.title h1 {
  color: #333;
  font-weight: 700;
  font-size: 3.9em;
  margin: 0 auto;
}

.title h2 {
  color: #333;
  font-weight: 400;
  margin: 0 auto;
}

.title p {
  color: #333;
  font-weight: 300;
  margin: 0 auto;
}

.title h1,
.title p.subline {
  line-height: 1;
}

.title p.subline {
  font-size: 1.3em;
}

.language {
	position: absolute;
  top: 0px;
  right: 0px;
	font-size: 0.8em;
	margin: 1em;
	color: #333;
	text-decoration: none;
}

.footer {
	position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
	text-align: right;
}

.priv {
	font-size: 0.7em;
	text-decoration: none;
  color: #333;
	margin: 1em;
}

/* Media Queries */
@media screen and (max-width: 47em) {
  .title, .content {
    font-size: 70%;
  }
}

@media screen and (max-width: 27em) {
  .title, .content {
    font-size: 50%;
  }
}
